[2018-04-13 06:15] betatim opened #1 "ROADMAP"
# Working on now

* fix dates at each location
  * [ ] Cambridge/UK
  * [ ] Lausanne/CH
  * [ ] Berlin/DE
* define audience personas
  * who should attend and what are they like?
* define a draft agenda for the day

# Medium term
* create location logistics check list
* start creating material for the agenda
* find community owned Binders to highlight

# Long term
* follow up with participants
* c

[2018-04-13 06:15] betatim opened #2 "Switzerland"
Notes, comments and organisational things about the event in Switzerland.

[2018-04-13 06:16] betatim opened #3 "England"
Notes, comments and organisational things about the event in England.

[2018-04-13 06:16] betatim opened #4 "Germany"
Notes, comments and organisational things about the event in Germany.

[2018-04-13 06:19] betatim opened #5 "Personas"
What do we imagine attendees to be like? This will help decide where to start at the beginning of the day and where we want to get to at the end of the day.

If you are new to the idea of defining personas check out:
* [Mozilla science lab personas guide](https://mozilla.github.io/open-leadership-training-series/articles/building-communities-of-contributors/bring-on-contributors-using-personas-and

[2018-04-13 06:40] KirstieJane commented on #3
Commenting here so I’m notified as plans develop - I don’t know what exactly I can do to support but I’d love to have a couple of research software engineers from Turing Institute at the event!! I have grand master plans with @martintoreilly to have lots of binder examples from our reproducible research champions project! :sparkles:

[2018-04-13 08:38] npscience commented on #3
Same as Kirstie, notifications please GitHub :)

I may not have much capacity for the next month, but happy to response re dates, etc then do more where I can after mid-May.

[2018-04-13 09:00] matthewfeickert commented on #2
Depending on the date I can come from CERN to help with the event. I can also help with producing materials.

[2018-04-13 10:04] trallard commented on #3
Jumpin in here too to keep myself updated as plans develop 😄 May will be a bit hectic for me but can work around

[2018-04-13 17:03] betatim commented on #3
Woah! Welcome everyone!

We have the possibility/option for B'ham or Cambridge in terms of location. I don't have a strong preference either way. How do we decide?

June feels very soon, should we aim for July or early August? (In Switzerland everyone will be on holiday in August, how is it in the UK?)

[2018-04-13 17:15] gedankenstuecke commented on #2
It seems like this could make a good fit for the http://rcs18.ethz.ch/?

[2018-04-14 13:05] betatim commented on #2
Yes and no. Why not? My hope/aim is to reach people who aren't researchers as well as researchers and RCS is probably full of researchers. The ambitious text in the proposal says we will invite researchers, journalists and educators. (Let's move discussion about how realistic that is into #6.)

As I am invited to speak at RCS and one of the interesting things I do related to research is Binder I t

[2018-04-14 13:08] betatim opened #6 "Researchers, educators and journalists"
In the original proposal I wrote that the target audience is not just researchers but also journalists and educators. Basically anyone who might want to produce a demo, book, article, ... that would benefit from using Binder.

What do people think about trying to invite people from each of these groups to each of the events vs having one event per "type" of person. I am a big fan of mixing at each

[2018-04-14 13:13] betatim commented on #5
This is what I wrote in the proposal about [the target audience](https://github.com/betatim/build-a-binder/blob/master/proposal.md#explain-who-will-benefit-from-the-project-and-how-you-will-engage-with-them-).

I would take this as starting point (~one person per category) and see how things go. I am open to changing things but we also need to keep in mind that we should deliver on the proposal :)

[2018-04-14 16:25] gedankenstuecke commented on #2
Yeah, I thought it might be a good event to do a researcher focused workshop at. And the Open Data CH people might have connections to less researchy audiences? :)

[2018-04-15 15:43] RaoOfPhysics commented on #6
I think a general introduction would be suitable for a diverse audience but each of those groups have different needs, so it might make sense to split them up at some stage and focus on their particular objectives. Not sure that makes sense, though.

[2018-04-16 07:56] heluc commented on #2
Tim, let me know how I can help.

I believe I can: a) find a room at EPFL if this is the location of choice; b) find local helpers; c) advertise on campus; d) use my other networks to advertise to journalists and educators (but also to admin people e.g. from EPFL central services, infrastructure, education data etc.)

[2018-04-16 09:03] trallard commented on #3
I think August is also a summer holidays kind of month in the UK so most institutions are a bit empty.

Would you have someone helping you as a local organizer? Having a local person could help with the logistics, booking rooms, etc.
If you wanted a location within the North of the UK I could help with Leeds or Manchester

[2018-04-16 12:29] betatim commented on #6
So maybe first half of the day together, then split up into smaller groups depending on what interests each person.

What do you mean with "different needs"?

[2018-04-16 12:31] betatim commented on #2
For me EPFL would be a super choice. So I think taking up this offer would be a good move.

@fthoele mentioned interest as well, does EPFL work for you?

[2018-04-16 12:38] fthoele commented on #2
Absolutely!

[2018-04-16 12:39] betatim commented on #3
@npscience could be that person in Cambridge and @pherterich in B'ham I think.

I have no strong feelings on where (given good connections for travel), maybe only a slight bias against London because they get all the events all the time ;) I think having someone locally who is excited (and has the time!) to help is far more important than the precise location. The ideal scenario is that you three

[2018-04-16 14:44] heluc commented on #2
Ok good. I'll start to investigate. Any requirements? (number of people, infrastructures, catering, etc). Also the earlier you come up with a good date, the better.

[2018-04-16 15:00] gedankenstuecke commented on #2
For the date: If the date at EPFL would be the week before RCS (or right after) I'd be in the neighborhood to help out 😂

[2018-04-16 16:03] pherterich commented on #3
Birmingham is usually quite reasonable to reach from all sides with direct trains to most bigger cities. July and August would be quiet on campus as well, so room availability looks quite decent. How many people would you expect/want to attend?
School holidays here start in the last week of July when it will become very quiet and I assume less people would be able to attend in August.

[2018-04-16 16:28] gedankenstuecke commented on #2
If I could be super picky I'd go for right before the summer school as I'll be in Europe starting August 29th for MyData (https://mydata2018.org/) and I have some spare time between the two events 😂

But after the summer school works too :-)

[2018-04-16 18:45] betatim commented on #3
Let's do a vote via emoji reaction on this comment:
👍 -> Cambridge
🎉 -> B'ham
❤️ -> Manchester

[2018-04-16 18:48] betatim commented on #3
Should we aim for mid July? I wrote 20x lunch+coffee in the budget. That seemed like a big enough but not overwhelming number. If you'd ask me for an absolute max without regard for anything (rooms ,budget, helpers) I'd say 30.

Thoughts?

[2018-04-16 21:15] gedankenstuecke commented on #2
Yeah, the weekday/weekend debate is hard to solve:
For people with families and especially kids I've heard both cases argued but I think in this setup it would be easier during work hours (For some people it's easier to organize child care on weekends, but as this is a 'regional' event I guess this is less applicable if it's limited to regular work hours).
But then I've been on the other side of t

[2018-04-16 21:37] fthoele commented on #2
Re: number of people: In my experience, ca. 25 is the critical point above which workshops become too anonymous and more like lectures without any connection between/to participants.

[2018-04-17 10:12] pherterich commented on #3
20-30 sounds reasonable I think. I would have guessed 20ish if you're the sole person providing help and instructions (following the carpentry approach).

[2018-04-17 13:52] RaoOfPhysics commented on #6
Educators might be interested in pedagogic tools while journalists might prefer telling longer narratives with dashboard-like tools and researchers might need something completely different. I'm not saying the tools will necessarily be different but how they (intend to) use them might be.

+1 for splitting into smaller groups after general intro.

[2018-04-17 20:01] betatim commented on #4
Location: talked to Steph and maybe via Moz we can find somewhere.

Tim DM'ed Lucy to see if she is still in Berlin.

[2018-04-18 10:10] heluc commented on #2
So, we're left with 8th (Saturday -> weekend) vs 14th (Friday -> weekday) right? Or any other option I should take into consideration? Should we vote? ;) I'm in favour of week day as most of our audience will be researchers (flexible) or specialists (teachers/journalists) who can argue it should be part of their training.. The earlier we agree, the higher the chance I can book a nice room ;) (Tim,

[2018-04-19 11:16] trallard commented on #3
Seems like we're tied for votes, so we could do the following:
- Stick to B'ham as you'd originally planned
- Have one in B'ham and one in Manchester (I can provide help here with a free venue, advertising, helpers)

[2018-04-19 13:10] betatim commented on #2
The summer school room was nice!

My vote on Luc's comment (😄) is Friday. Let's use 🎉  as a vote for Saturday. If you disagree with both then comment.

[2018-04-19 13:13] betatim commented on #3
Anyone can do their own event! I am even more happy if someone thinks this is a cool idea and wants to do their own. So yes this is totally fine with me. The only limit is in terms of using mini grant money, I'd commit to that a bit later when we have a better idea on how much everything will actually end up costing.

This suggestion made my day!

[2018-04-19 13:15] betatim commented on #3
Next item: dates. How do we turn "mid July"  into an actual date? @pherterich do you want to find out which dates would work room-wise and then we pick one of those?

I updated the top comment by adding Birmingham as location. Can I add you as a local helper @pherterich? And do you know someone else we could get onboard?

[2018-04-19 15:04] pherterich commented on #3
I'll definitely help with logistics and be in the room all day. Don't really think I know what binder is/does, so content wise I'm useless. Will make sure I send announcements to local RSE groups when we have a date and hope I can pressure our IT group into helping out as well. @matthew-brett just started a "The Hacker Within" group here, so there's a good chance that we'll find someone willing to

[2018-04-19 15:11] matthew-brett commented on #3
Hi - yes - that would be excellent - I'd love to see more use of Binder / Notebooks.  What kind of help would help?  I'm sure our RSE team would be interested too.

[2018-04-20 07:41] betatim commented on #3
I will look into the dates from my side. Anyone else who wants to chime in please do.

In terms of help we need: right now only have generic answers of "standard stuff for a one day workshop". We still need to work on the details :) We should probably make a new issue to try and compile a generic checklist for the event that can be reused.

If anyone wants to get going and do things I think that w

[2018-04-20 09:21] pherterich opened #7 "Checklist for workshop organisation"
My start on a list of things to do

- [ ] book room
- [ ] book catering
- [ ] send out instructions on how to get to the location
- [ ] wifi (if not eduroam/ additional guest options)
- [ ] recording?
- [ ] organise for vegetarian, gluten free, and tasty food (can we take care of 95% of food allergies/choices with one meal?)
 - [ ] email participants about the food options we have/ ask for dietary

[2018-04-20 09:31] pherterich commented on #3
I made a quick list in a new issue with the things I can think of for organisation and will add to that. #7

I guess the question is if you expect some of your helpers to be like software carpentry helpers walking around and helping people with the content. That might need a different preparation that I'm less familiar with.

[2018-04-20 09:35] matthew-brett commented on #3
I guess we could ask around on the hackers-within list to see if there are people with relevant skills.   What skills are needed?   Just use of Github and the Jupyter Notebook?

[2018-04-20 16:43] RaoOfPhysics commented on #7
Non-academics won't have eduroam, so good to have a few wifi options!

[2018-04-23 07:44] heluc commented on #2
Friday then? I'll book the room, then we can discuss the details, ok @betatim?

[2018-04-24 08:31] pherterich commented on #7
Done. Ashamed how the vegan could forget to spell out the food requirements that need organising...

[2018-04-24 21:27] betatim commented on #2
Sounds like a plan to me.

[2018-04-24 21:28] betatim commented on #2
Updated top comment with the data as well.

[2018-04-24 21:30] betatim commented on #3
I think for a good answer to that we need to make progress on what exactly the agenda is for the day :-/

[2018-04-24 21:32] betatim commented on #5
Trying to get started on this. The below is my initial idea of who could be a good target audience:

Reading that I think the key ingredient is that it is people who already want to share or are sharing their work and using binder would make that easier or increase the number of readers.

[2018-04-25 09:29] heluc commented on #2
Great! Should we build a list of helper/potential participants we should contact in a different issue?

[2018-04-25 11:12] RaoOfPhysics commented on #2
@heluc: Add me to said list. I expect to be around and can help.

[2018-04-25 17:02] betatim commented on #2
Sounds like a good idea. I will add some more labels so we can tag issues for which event they belong to. We could also use a hackmd for more document like things and link them from the issue (has the disadvantage that people don't get notified)

[2018-05-11 23:42] gedankenstuecke commented on #5
How about this one:

Similarities with real people are pure coincidence 😂

[2018-05-12 07:05] betatim commented on #5
Let's turn it into a PR?!!

[2018-05-12 07:06] betatim commented on #3
@pherterich how about 16 or 17th of July?

[2018-05-12 07:16] betatim commented on #5
Serafin is a journalist at a newspaper who has written a few article where a large part of the research involved digging into datasets and working with designers to get nice figures for the article. For this they needed to scrape websites and do a lot of data cleaning, they used R (or Jupyter) notebooks for this. News is a fast paced business and there were many iterations of the same article. The

[2018-05-13 15:36] betatim opened #10 "The workshop day"
Goal here is to come up with a rough guide for what the day will look like. Then make new issues and PRs to fill in the details for each part.

I'd suggest starting together as a group and then as time goes on splitting into smaller groups depending on interests. Combined with a fairly strict timekeeping so people can move between groups at the later stages(??). Then bring it all back together at

[2018-05-13 15:41] matthewfeickert commented on #5
Any thoughts on the value of adding a physicist persona (with a HEP angle)? The main difference from the ["Sebastian" persona](https://github.com/betatim/build-a-binder/blob/master/personas/sebastian.md) is that this person would probably already have experience with writing their own low level analysis code, but probably has very little experience in making sure that their code is usefully shared

[2018-05-13 16:12] betatim commented on #5
Sure why not? Maybe we group thematically similar ones into one file? Or edit Sebastian?

I think it would be good to "require" that people already use notebooks (R or Jupyter) and want to share their work (but maybe don't yet know how to do it). Not sure how we encode that in sentences :)

[2018-05-14 05:02] gedankenstuecke commented on #10
The super rough plan lists 9:30 twice. I guess 9:45 would be a reasonable start for the intro to binder?

[2018-05-14 08:55] pherterich commented on #3
@betatim works for me, rooms are available, too. I'll get one for both days and then maybe others who want to attend can voice preferences to make the final decision?

[2018-05-14 12:07] betatim commented on #10
Fixed.

[2018-05-14 12:10] betatim commented on #3
Sounds good. My preference is the 17th.

[2018-05-14 12:13] betatim opened #11 "Simple webpage"
Before we can advertise things we need a simple webpage that lists the details for a workshop and at minimum links to a google form for registration.

Can someone recommend a nice and simple template for a webpage? (The standard ones that come with GitHub pages are a bit weird I think.)

[2018-05-14 12:28] trallard commented on #7
- [ ] Code of conduct

[2018-05-14 12:38] pherterich commented on #3
I guess it's up to @KirstieJane @npscience @trallard to let us know about date preferences if they would still like to attend. I can advertise on Campus with some basic text what the workshop is about and a link to registration and that can go to various mailing lists here.

Looking at #5 I guess the question is if you want to have non-academic attendees and how to invite them along except through

[2018-05-14 13:34] npscience commented on #3
Thanks for thinking of me — I'll sit back and let you work out what's best for you, then will consider whether I am able to join (if welcome!) once that's all worked out. My July commitments aren't concrete yet ;)

[2018-05-14 13:39] betatim opened #12 "Session ideas"
What kind of sessions on what topics should we have?

Let's collect ideas here and then distil them down later.

[2018-05-14 15:43] gedankenstuecke commented on #11
I just yesterday looked into the nice template that @aath0 started using for her GH page. Have a look here: https://github.com/aath0/aath0.github.io

I think this could also work nicely for a workshop page. Otherwise we could think about using one of the WOW workshop themes?

[2018-05-14 15:52] pherterich commented on #11
What could probably also work is something similar to the software carpentry stuff as the workshop might be similar? <https://github.com/swcarpentry/workshop-template> Not really skilled enough to have a proper opinion though.

[2018-05-14 16:03] betatim commented on #11
The https://github.com/aath0/aath0.github.io theme looks nice.

Good point about the workshop content itself. I hadn't thought as far as that yet. Was more thinking of a "landing page" for registration and info.

I like the carpentry workshop template, the last time I suggested it though lots of people voted for GitBook instead. Setting up the carpentry template is quick but you end up customising

[2018-05-15 07:02] betatim commented on #7
MY COC suggestion: https://mozillafestival.org/guidelines

[2018-05-15 07:03] betatim commented on #7
How much effort do you think organising for a recording of the event will be?

[2018-05-15 09:35] pherterich commented on #7
Depends on the location I'd say. At Birmingham, we could use the lecture capture system for everything that's a standard presentation/demo. I might need to fiddle around a bit to get that into a video file that you could upload to various free platforms, but basic recording and a link to our system isn't too complicated, so we could give that a shot and see if people find it useful.

[2018-05-15 12:27] trallard commented on #11
My thoughts:

- Simple landing page with workshop basic info: venues, dates, code of conduct, links to registration, contact details, etc.
- As for the materials themselves, we could follow any of the approaches:
  - Gitbook: could have everything in simple markdown and get them rendered in gitbook
  - Jupyter notebook: have all the contents as Jupyter notebook and could set up a basic web version

[2018-05-15 15:08] betatim commented on #11
I really don't know what format is best. I'd pick one based on what someone likes and then see how it goes. Hadn't thought of sphinx but now that you bring it up I realise that most (if not all) the existing binder docs and material are sphinx based. So maybe that is what tips it? We could also use that as landing page (reducing the number of techs by factor two in one fell swoop!)

Do you want to

[2018-05-15 16:12] trallard commented on #11
Using that as landing page and workshop materials source will definitely reduce the work.

I will have a crack at putting together a draft site (probably on Wednesday or Thursday).

And will ship it in the form of a PR first so that you can review it first and can sort out additional privileges later on if needed.

[2018-05-16 06:03] betatim commented on #11
I look forward to bookmarking https://build-a-binder.readthedocs.io :)

[2018-05-16 06:27] willingc commented on #11
@betatim You might want to check out Hugo too. Some great themes many with excellent support, fast builds and deploys especially when using Netlify,

[2018-05-16 06:51] RaoOfPhysics commented on #11
Late to the party and don't want to derail plans for a sphinx-based website, but for a landing page, you might want to check out https://github.com/gdg-x/zeppelin which @neuroamanda _et al._ used for their event landing page recently: https://japanscicom.github.io/ It needs… a little love to customise.

I would suggest using Jekyll over Hugo and others as it plugs straight in to GitHub allowing an

[2018-05-16 06:53] RaoOfPhysics commented on #7
Pinging @npscience for general wisdom and for her experience with the recently concluded \#eLifeSprint she ran.

[2018-05-16 07:10] willingc commented on #11
Cool sites @RaoOfPhysics.

Both Jekyll and Hugo as well as others are good options. I'm not sure that I understand the statement about using GitHub for small changes via PR with Jekyll vs Hugo. On other projects that I maintain, it's straightforward to edit content using the Github UI with Hugo. Combined with Netlify, we also are able to set up a preview of the PR when submitted (I believe with Ne

[2018-05-16 07:44] trallard commented on #11
I have no idea how I completely forgot about Jekyll.

I suppose we could have a Jekyll page for the workshop logistics and the sphinx one for the workshop content.

Either way, both can be set up so that the site is built and tested when pushed/merged into GitHub.

I am happy either way and neither should take me much time to set up

[2018-05-16 07:46] RaoOfPhysics commented on #11
I could've been clearer, @willingc. :) I hadn't considered the use of GH Pages with Netlify, so I was pointing out that GH would automatically build a new Jekyll page when a change is pushed, without needing to build the website locally or using a CI tool. But I'm no expert, so my take might not be the best. :)

[2018-05-16 15:37] gedankenstuecke commented on #11
I just wanted to 👍 @RaoOfPhysics's suggestion for having some non-sphinx page for the workshop logistics/advertisement page. Sphinx is great for docs but not the most inviting thing for getting people to register I fear. 😄

[2018-05-17 11:50] betatim commented on #12
Added it to the list in the top comment.

[2018-05-17 14:18] heluc commented on #7
I booked the room for the Lausanne event at EPFL, should be big enough for 30 people, can be arranged for teaching and workshop format

[2018-05-17 17:31] trallard commented on #4
I might have some contacts in Germany... although they might not be Berlin based

[2018-05-17 18:16] trallard commented on #11
Ok so I have a draft for the site here :  [http://bitsandchips.me/build-a-binder-website/](http://bitsandchips.me/build-a-binder-website/)

Some things to note:
- I have no idea what to write down in the 'about the workshop' section so I just left it with a mock text
- About the locations section: I would like to add an individual page per site including the exact location (with a map) directions

[2018-05-17 20:30] fthoele commented on #5
Another one that's more from the "experienced coder" angle:

Again, similarities to real persons are coincidental but inevitable 🤨

[2018-05-17 20:41] betatim commented on #12
Something for the showcase: https://github.com/beecycles/Power_of_Irma not sure where to put it so placing it here for the moment.

[2018-05-17 20:45] betatim commented on #4
Thanks for the poke. If you want to ping the people you know and persuade them to join the conversation here that would be great. I will ask Moz again as there was some talk about office space in Berlin that we could use.

[2018-05-18 06:27] betatim commented on #11
"You will learn how others are using Binder and related tools. At the end of the workshop you will be able to take some of your content (in a R or Jupyter notebook) and prepare it so that it can be used by others by clicking one link."

[2018-05-18 06:38] betatim opened #14 "Signup form"
Preview: https://docs.google.com/forms/d/e/1FAIpQLSfgcP4Zxw8dEgwDZy11zyZr1DnAxBTBR1uahhMp-gqOo2S5Xg/viewform

My idea was to have one form for each location.

What questions or information did I miss?

If you'd like to directly edit it: tell me your Google account and I will add you (or is there a way to make a link that lets anyone with the link edit the form?)

[2018-05-18 06:38] betatim commented on #11
Drafting the signup form in #14

[2018-05-18 07:00] heluc commented on #11
@betatim  Yes, room at EPFL will be BC 410. You can use this link: https://plan.epfl.ch/?room=BC410

[2018-05-18 07:31] rgieseke commented on #4
If Potsdam (right next to Berlin with ~25 train ride from Berlin Hbf) the Albert-Einstein-Campus with multiple research institutes might be an option (geo, climate sciences) - we did a couple of Software Carpentry workshops, lots of R and Jupyter users here…
For a day long workshop this might be an option for people from Berlin, we had quite a few participants from Berlin as well. (cc @mrtnhmtz)

[2018-05-18 07:40] tobyhodges commented on #4
This is the kind of thing that EMBL may be interested in hosting but that would be in Heidelberg, a long way from Berlin. de.NBI (national bioinformatics network) is another option but wouldn't be a good fit for your target audience. @mrtnhmtz perhaps a post to the de-RSE mailing list might be helpful?

[2018-05-18 08:18] eotp commented on #4
@betatim Great idea! Thanks @rgieseke for pinging me.
I just reached out to some folks at [CODE University Berlin](https://code.berlin/en/). I believe this would be a great place for such an event.

[2018-05-18 08:28] mrtnhmtz commented on #4
Let's check first if either the Albert-Einstein Science Campus in Potsdam or the CODE University building in Berlin are available for a range of possible dates. If not, then we can get in touch with de-RSE community to find a location outside the Greater Berlin Potsdam area.

[2018-05-18 08:29] mrtnhmtz commented on #4
@betatim are you already able to drop a list of dates that work for you?

[2018-05-18 11:06] betatim commented on #4
My agenda is quite full in July already, August is holiday season(??), so I think second half of September is a time frame I'd suggest. Purely based on what my calendar says.

How much is August holiday season in Berlin?

[2018-05-18 11:08] betatim commented on #4
@tobyhodges there is nothing stopping you from doing your own event! One of the (real) goals of this is to create material, connections and experience so that anyone can re-use the material and planning. Then depending on dates we can try and find someone who can provide the required Binder knowledge if there isn't anyone locally.

[2018-05-18 11:56] rgieseke commented on #4
August is holiday season, school holidays go until the 17th - second half of September would be a good time frame.

[2018-05-18 12:19] eotp commented on #4
@betatim Just had a little conversation with Thomas from CODE University Berlin; he's is very interested in hosting such an event here in Berlin. He asked for dates and the number of expected attendees. A time frame starting with the second half of September would be very appreciated.

[2018-05-18 13:06] betatim commented on #4
For dates more precise than "a weekday in the second half of September" I need to get back to you. Workshop size will be 20+two or so helpers.

[2018-05-18 15:26] rainsworth commented on #3
I meant to join this conversation a long time ago but somehow forgot. I would like to stay in the loop! Sounds like B'ham is already decided on, but @trallard I would love to organise one at Manchester at some point if you're interested! (Also even if you're not 😂 )

[2018-05-18 16:06] trallard commented on #3
I might have some plans @rainsworth so I'll keep you posted

[2018-05-20 07:42] RaoOfPhysics commented on #7
Also check out this post on the UK Government's Accessibility blog: [Advice for making events and presentations accessible](https://accessibility.blog.gov.uk/2018/03/13/advice-for-making-events-and-presentations-accessible/)

[2018-05-20 10:37] tomtom-e commented on #4
Hi, this is Thomas from CODE University. It would be a pleasure to host a binder hands on workshop at CODE University in Berlin. Thank you, @eotp introducing me...
Right now our academic calendar is not yet finalized, but end of September sounds good. Fridays (and Thursdays) are usually best for offering workshops. Weekends also are fine.  ~ 22 People is also fine but I'm quite sure some of our st

[2018-05-20 20:55] betatim commented on #7
Added the checklist items to the top comment.

My personal opinion is -0 on recording of any form. It is a lot of work to get a good recording, and even good recordings are not soo useful if the format isn't a talk/presentation. At least I very rarely watch one and think "yeah that was worth my time". I'd rather invest effort in making sure there is good audio for everyone in the room. (Recording

[2018-05-21 09:04] pherterich commented on #11
@betatim at Birmingham, we'll be in the Murray Learning Centre (R28 on this map https://www.birmingham.ac.uk/Documents/university/edgbaston-campus-map.pdf) in room UG05

[2018-05-21 11:38] pherterich commented on #14
Not sure how the content creation is going, but you could ask if they would like to share examples or facilitate discussion?
Also, if you still go for the persona idea and trying to reach a wider audience, would it be useful to ask if they are academic or not at this stage to be able to plan a bit for the breakout type sessions? Or do you think you can get that from "What do you normally do/work o

[2018-05-21 12:01] yochannah commented on #12
Would a biology-related session be of interest?  @intermine has a set of tutorials for fetching genomic data in jupyter notebooks here https://github.com/intermine/intermine-ws-python-docs

It could flow something like this:

1. Choose an InterMine data source (there are quite a few out there for different organisms so it's nicely flexible)
2. Use the InterMine's UI to build a query for data
3. Co

[2018-05-21 15:41] betatim commented on #4
Thanks for the kind offer! From my side I have a slight preference for the week of Sept 24th.

It is great to hear that more than ~20 people would attend. Resource wise the funding we have doesn't stretch beyond 20-ish (in terms of coffee and lunch funding as well as travel support for people to help run the workshop). So given that spaces will be restricted (even if we increase it to say 30 I bet

[2018-05-21 15:43] betatim commented on #4
One more thing on dates: we decided this was a "work event" and so should be during working hours, not at the weekend. The discussion is in one of the issues, if I could only find it...

[2018-05-21 15:44] gedankenstuecke commented on #4
I present: [The Weekday vs. Weekend discussion](https://github.com/betatim/build-a-binder/issues/2#issuecomment-381712340) 😉

[2018-05-21 15:46] betatim commented on #14
My hope was that "what do you normally do/work on" would tell us academic/educator/journalist/someone we haven't yet thought of. Do you think it is too subtle/abstract?

Added the "share examples/facilitate discussion"! Cool idea.

[2018-05-21 15:58] pherterich commented on #14
I think "what do you normally do/work on" is quite vague and I'm quite sure I be able to answer it without clearly being mapped into one of those categories. I think these answers could be really hard to classify, but I also get that you don't want to ask directly for one of those as this will be too narrow.
@RaoOfPhysics any ideas how to "fix" this?

[2018-05-22 08:16] KirstieJane commented on #3
Hey @betatim et al - I think I'm going to have to step back from helping out with the Birmingham event - I'm a bit over stretched at the moment 😭

I would LOVE though for members of the research software engineering team at the Turing to attend so please keep me on the list for promotions and I'll send it around!

Sorry for the radio silence and for bailing on the plan.

[2018-05-23 07:27] betatim commented on #11
@trallard do you want to create PR for what you already have? Then others can help fill out location, etc.

I think we should start advertising and collecting sign ups for the Birmingham event soon.

[2018-05-23 07:49] betatim commented on #3
@pherterich do you have a suggestion what we do for coffee break and lunch?

My default would be to ask the university to make an offer for catering the coffee breaks and lunch in the canteen for attendees (we then give a voucher to people). If you have a favourite place that does delivery and we can organise plates+cutlery etc that would also work for lunch.

[2018-05-23 07:50] betatim commented on #2
@heluc  do you have a suggestion what we do for coffee break and lunch?

My default would be to ask the university to make an offer for catering the coffee breaks and lunch in the canteen for attendees (we then give a voucher to people). We bring soft drinks/water from a supermarket.

If you have a favourite place that does delivery and we can organise plates+cutlery etc that would also work for l

[2018-05-23 07:53] betatim commented on #11
https://github.com/betatim/build-a-binder#support is the sentence that the funders indicated they want to see. There were no details about use/not use of logos etc As a version 1 I would include just that sentence.

[2018-05-23 07:57] betatim commented on #12
* a session "Zero to RStudio Binder"
* a session "Zero to Jupyter Binder"

Both walk you through all the steps of taking a repo and binderising it. Final step is having a link that you can share with others that works.

---

@sje30 have you seen https://github.com/binder-examples/latex and https://github.com/binder-examples/r as examples to start from for Latex and RStudio? Would be great to have

[2018-05-23 08:09] trallard commented on #11
I could create a PR with the website as it is now but I have not created the site pages yet. I am teaching all day (9-5:30) today until Friday so I am afraid I would only be able to work on the website on Saturday afternoonish though

[2018-05-23 09:02] pherterich commented on #3
@betatim I have no idea if our canteen does lunch vouchers but I will ask around and also get an overview of prices and offers of the standard buffet catering they do. I'll also check what's available for delivery, let me ask around and I will present the options here.

[2018-05-24 13:12] pherterich commented on #3
@betatim Was told our canteen doesn't do vouchers any longer but it might be quiet enough on campus that we could just go into the main canteen (https://www.birmingham.ac.uk/community/university-campus/retail/food-and-drink/Noble-Room-Staff-House.aspx) and get everyone onto one bill.
The standard University catering is this one https://www.freshthinking.uk.com/ (it's okay, the vegan option is dece

[2018-05-26 05:45] betatim commented on #3
Trying to pay for everyone on one bill will be hard (because people will have stuff beyond what we can fund) so if there is no way to do vouchers/meal tickets we should go with some other setup.

https://www.freshthinking.uk.com/ looks good to me. We have a total of $25 per person to buy coffee and lunch (GBP18.79 according to google). Should we email them and ask for an offer for 23 people at tha

[2018-05-26 05:54] betatim commented on #3
Just sent an email to Fresh thinking to ask for an offer.

[2018-05-29 14:34] pherterich commented on #3
@betatim Cool, let me know if you need an internal to take over and I can take over if needed.

[2018-05-30 15:20] trallard commented on #11
I am working on the website... @betatim any idea on the location/date for the event in Germany? Will this be in CODE as discussed in #4 ?

[2018-05-31 04:28] betatim commented on #4
@tomtom-e how should we try and converge on a date? Maybe we can find out if the 21st or 28th would work.

[2018-05-31 04:29] betatim commented on #11
It isn't locked in yet so I would leave it open. IMO this isn't something we need to wait for before starting to use the website.

[2018-05-31 04:50] betatim commented on #3
Their menu is here: https://www.freshthinking.uk.com/downloads/Fresh%20Thinking%20Menu%202017.pdf

P16 for tea&coffee
p18++ for sandwiches, platters and finger food
p26 for special diet

Can we pick a nice collection for lunch?

Coffee breaks: 22 * 1.65 * 2 (morning and afternoon) = 72.60

[2018-05-31 09:12] pherterich commented on #3
I can only comment on vegan food, as I really struggle to map the booklet to stuff I've seen at buffets and what is usually popular. I think you mostly get chef's choice wrap and sandwich platters, so maybe the odd combo platter could be nice (Indian?)
I think the "Bulgur wheat, fresh mint, parsley, spring onion, vine ripened tomatoes, pomegranate & lemon" salad is fine and usually quite popular.

[2018-05-31 15:44] trallard commented on #11
Excellent! Do you have a link to the registration form for B'ham. So that I can add it as I presume the registration will be open now/soon?

Also when is the registration opening for Switzerland?

[2018-06-04 03:26] betatim commented on #3
There is still ambiguity over the date, so I picked one 17th July 2018. This is written on the registration form. Should we finalise our room booking?

[2018-06-04 08:44] pherterich commented on #3
@betatim if no one else wants to comment, let's go for it :smiley:

[2018-06-05 11:49] betatim opened #17 "Move to new organisation"
Any opposition to moving this repository to github.com/build-a-binder? That way the webpage can be build-a-binder.github.io

This is your last chance to suggest a less clunky name :)

[2018-06-05 12:06] betatim commented on #10
Edited the schedule a bit. The morning now has a session where everyone uses the same demo repo and learns how to get that to work on mybinder.org. The idea is to walk everyone through the process and on the way introduce some of the tools like repo2docker.

Edited the ending and after lunch sessions as well. Show&Tell should be good and people need to have time to do emails/twitter/what not so sc

[2018-06-05 14:32] RaoOfPhysics commented on #17
I like the name. :) It is a call to action, so it calls the reader in.

[2018-06-05 14:55] gedankenstuecke commented on #17
Agreed! :)

[2018-06-05 17:40] betatim commented on #17
Welcome to https://github.com/Build-a-binder/build-a-binder

[2018-06-05 17:40] #17 closed

[2018-06-12 14:35] betatim commented on #3
The website is now live and open for signups: https://build-a-binder.github.io/

[2018-06-12 22:38] jzf2101 commented on #12
@betatim You've seen my slides.  Perhaps we could use that as a jumping off point.  I think explaining some background information could be a useful session.

[2018-06-13 08:28] betatim commented on #12
The slides @jzf2101 is referring to are here https://indico.cern.ch/event/724941/

[2018-06-18 14:31] betatim commented on #3
Should we do something about the fact that so far there is only one sign up?

More advertising needed :-/

[2018-06-18 14:32] yochannah commented on #3
post tweet link, I'll RT from the biological accounts I control....

[2018-06-18 17:27] trallard commented on #3
I will send an email so that this is added to the SSI website as news and will distribute in the RSE slack channel too

[2018-06-18 17:31] npscience commented on #3
@betatim I've scheduled a tweet from eLifeInnovation and will RT from npscience too.

Of note, I can't seem to find the workshop date on the website, and the deadline for applications is quite hidden. Are you able to make these more prominent please?

[2018-06-18 20:39] RaoOfPhysics commented on #3
@npscience I flagged the date issue as well but couldn't submit a PR at the time. it appears on the main page but not on the city pages. The England session is on 17 July.

[2018-06-18 20:55] RaoOfPhysics commented on #3
@npscience: And fixed (via #27): https://build-a-binder.github.io/England/

[2018-06-21 12:17] matthew-brett commented on #3
Has anyone advertised yet on the research software engineers mailing list?

[2018-06-21 12:47] pherterich commented on #3
@betatim I'm wondering if people are scared by "application" rather than registration. If you're not 100% sure this is for you, an application process might be scary (I totally get why you did it though).
I just send the message out to a Midlands network explaining that the application is just a longer registration form.

Summer might definitely be an issue, but then when do people ever have time.

[2018-06-21 21:12] matthew-brett commented on #3
Do y'all want me to email the RSE mailing list about the workshop?

[2018-06-22 09:15] betatim commented on #3
@matthew-brett sounds good to me. I've not reached out to them.

[2018-06-22 09:50] tobyhodges commented on #4
Hi folks. any progress on choosing a date for this? I'm trying to organise a Carpentries training that several people involved in these discussions would probably be interested in, and would prefer to make sure that the dates don't clash...

[2018-06-22 10:30] matthew-brett commented on #3
Any chance of extending the deadline by a week?  I've just advertised on the RSE mailing list, and we'll announce it at the Hacker Within on Monday - but the deadline is currently on Monday ...

[2018-06-22 11:39] betatim commented on #3
Extended it to  1 July 2018. The only reason for the original date was to give people enough time to schedule it.

[2018-06-22 11:40] matthew-brett commented on #3
Great - thanks.

[2018-06-25 13:39] heluc commented on #2
@betatim are you planning to open registration for Lausanne soon? I think it's important to give people some notice as it's a busy time of the year. Also, I need some time to arrange catering based on number of people.

[2018-06-25 15:52] betatim commented on #2
Yes, let's do that.

https://docs.google.com/forms/d/e/1FAIpQLSfXZYqB2HVSD3Slc45Tw095iFbIcP3FmhCUNeGnyl23c6bZnQ/viewform is the form. When should we start selecting people/close registration? End of August?

* [ ] update webpage with registration link and date

[2018-06-26 06:41] RaoOfPhysics commented on #2
@betatim: I think it makes sense to give people a minimum of two-weeks' notice before the event so they can (a) confirm their participation and (b) make arrangements to travel etc. I know it's an expectation that they agree to both when they apply, but in case they need to…

[2018-06-26 08:55] heluc commented on #2
@betatim @RaoOfPhysics realistically, we can expect people to come from > 1 hour of EPFL (i.e. Geneva, CERN, Bern, Fribourg, Lausanne) but in any case, we should give a deadline for 15 August, see how many people sign up and extend until the end of the month if necessary. Deal? Better to advertise the event now, before mid-July, so that people are not on holiday and miss the announcement.

[2018-06-26 09:01] heluc commented on #2
Also @betatim can you give me the rights to edit the form, or fix a couple of typos? e.g. "At the evenT would YOU like to share examples or facilitate a session?"

[2018-06-27 17:32] betatim commented on #2
We will start advertising this on Wednesday 4 July (I think).

[2018-06-27 17:34] betatim commented on #12
https://github.com/dib-lab/CarpentryConWest18/issues/4#issuecomment-400099334

has some thoughts on what others are looking for from Binder workshops.

[2018-06-27 17:46] betatim commented on #4
@tomtom-e would you still be interested in hosting this?

@tobyhodges should we combine the events into one event (not merge but have them in the same place one after the other). -> Where were you planning to have your events?

[2018-07-01 10:13] tomtom-e commented on #4
Hi @betatim, yes of course. Had some busy time here...
We right now are planning this event on thursday September 27th from 9 am to 1pm.
Our room "Sissors" is for 25-(max30) people.

Will you offer an official page for applications?

Yours, tomtom.

[2018-07-02 11:03] betatim commented on #4
A room for 25 sounds good.

So far the plan has been to have a whole day workshop: could we have to room from the morning till the evening?

Applications will be via a copy of the sign up form we used for Birmingham and Lausanne.

[2018-07-02 12:16] rgieseke commented on #4
I'd be interested in participating as a helper, I've been a Binder user since before the rewrite and use it e.g. as a demo tool with [Pymagicc](https://github.com/openclimatedata/pymagicc), [Pyhector](https://github.com/openclimatedata/pyhector) or for [emissions datasets](https://github.com/openclimatedata/notebooks) for exploration. The model demos also use some Docker stuff to get all requireme

[2018-07-02 12:18] znicholls commented on #4
I'd be super happy to talk about my experiences with JupyterHub and https://github.com/yuvipanda/the-littlest-jupyterhub

I haven't used binder yet but am planning on so should have some experience by the time this event happens

[2018-07-02 13:21] betatim commented on #4
Thanks for the offers! Sounds interesting.

My initial reaction is that TLJH is out of scope for this event as that is more about how to setup a (Jupyter)Hub than using one. Let's see what kind of people sign up.

[2018-07-04 01:23] jzf2101 commented on #3
What's the scheduled time for the seminar?

[2018-07-04 06:07] betatim commented on #3
I will send an email to the 16 people who signed up today after 3pm. If you'd like to see the responses, etc email me and I can share the link to them with you.

@jzf2101 will join us to help out! Whoop!

@pherterich I am arriving on the morning of the event, there were no flights that worked to arrive the night before :(

[2018-07-04 14:51] betatim commented on #2
@heluc time to advertise?

[2018-07-04 14:59] npscience commented on #3
@betatim excellent news on 16 sign ups! ✨

[2018-07-05 10:17] heluc commented on #2
@betatim yes! but let's just catch up on slack this afternoon for the last details if possible

[2018-07-12 10:35] betatim commented on #12
https://github.com/choldgraf/textbooks-with-jupyter a showcase item (mad props to @choldgraf)

[2018-07-12 10:36] betatim commented on #12
@yochannah how much time would you reckon we should schedule for something like https://github.com/Build-a-binder/build-a-binder.github.io/issues/12#issuecomment-390634585 ?

[2018-07-13 10:02] betatim opened #32 "Intro talk"
Points to mention, demos, content, etc for the Introduction to Binder talk at the start of the day.

https://github.com/davidmascharka/tbd-nets is a nice academic paper which works with binder.

[2018-07-13 10:03] betatim commented on #12
Discussing the Introduction to Binder slides in its own issue: #32

[2018-07-13 10:09] betatim commented on #32
Slides to take inspiration from:
* https://indico.cern.ch/event/724941/
* [Scipy 2018 slides](https://docs.google.com/presentation/d/1yWg8rmEQwrzyVN1zOPUfOSJSAxL6sc6pjoZjoRMxaIA/edit#slide=id.g381764cf08_0_153)

[2018-07-13 16:23] tomtom-e commented on #4
Hi @betatim  - ok, I will try to block the room for the whole day. I'll keep you updated (and look forward hosting you here in Berlin!)

You write "Applications will be via a copy of the sign up form we used for Birmingham and Lausanne"
Can you please update me when there will be an official URL for this? I want to implement a link into our intranet also. Thanks!

[2018-07-14 06:33] betatim commented on #32
Started work on the slides: https://docs.google.com/presentation/d/1rKJYn6MlB2TCY95OxxP7RAcFhaqVtSFpaNfk5M53pRA/edit?usp=sharing

[2018-07-17 20:15] npscience commented on #3
I hope it went really well today @betatim @pherterich, looks like it from the twittosphere!

[2018-07-17 21:09] betatim commented on #3
I think people learnt something, there are new binderised (or is it bound?) repositories out there!

[2018-07-17 21:13] matthew-brett commented on #3
Sorry to gush - but it was excellent - the tool is extremely useful, your help make a big difference in my courage to try new stuff, and fix it when it went wrong, and yes, new binderized / binderised / bound repositories - here's mine:

https://mybinder.org/v2/gh/matthew-brett/teaching/master

[2018-07-17 23:34] jzf2101 commented on #3
In case anyone wants to publish - this might be an interesting venue? http://jose.theoj.org/papers/10.21105/jose.00019

[2018-07-18 10:21] jzf2101 commented on #3
Do we have the gh handles of all the attendees? I wanted to tag them on related issues.

[2018-07-18 10:48] drvinceknight commented on #3
Just to add to what @matthew-brett said: I thoroughly enjoyed the workshop.

@jzf2101 and @betatim you ran a great session: very clear, welcoming and fun. I also liked that there was space to just talk and work on things having you both on hand to advise. A great format. I plan on giving a seminar in our department on what I learned.

Yup! @jzf2101 I've reviewed for jose already and am a big fan:

[2018-07-18 11:16] pherterich commented on #3
@jzf2101 from going through the links posted in hackmd, other attendees were @LotteWeerts @loz-hurst @erickmaertins @Thingus @JeremyPike @LouiseABowler

[2018-07-18 14:01] betatim commented on #4
@tomtom-e let me know when you have the room booking and I will publish the sign up form link + update the webpage. It would be good to get this done before we are fully in the holiday season.

[2018-07-23 05:18] #10 closed

[2018-07-23 20:23] tomtom-e commented on #4
Hi Tim,

room booking is now confirmed for Thursday, 27 September
09:00 – 18:00

What do we need besides Water, Coffee, Whiteboard, Monitor (HDMI)?

If you could please give me your e-mail address to include you into our calendar invitations?

Thank you and looking forward having you here!

Yours

Thomas

--------------------------------------------------------------
Thomas Ekert
Program-Manager S

[2018-07-30 13:43] betatim commented on #4
you can email me at tim@wildtreetech.com

We should figure out what options there are for lunch.

@tomtom-e could you post here and update the sign up form https://docs.google.com/forms/d/1PUQV-lKapxxGN2jJQTBtUb4lOkABF-lhA6t0D-cnup8/edit?usp=sharing with the precise location? After that we can update the details on the webpage.

[2018-07-30 15:54] betatim commented on #4
(b) sounds good if you have experience with that and we should be able to find something that works for everyone in terms of dietary restrictions. The only tricky one is gluten free, let's see what people say on the signup.

[2018-08-10 12:52] tomtom-e commented on #4
Hi Tim,

will the below link be the final application URL?
It seems to be editable from everywhere.

I right now want to announce this link to our Students.

And:
Do we have an official Workshop description / agenda?

Yours

Thomas
---------------------------------------------------------------
Thomas Ekert
Program-Manager Software Engineering
CODE University of Applied Sciences

CODE Education Gm

[2018-08-13 16:32] betatim commented on #4
This is the final link for signing up: https://docs.google.com/forms/d/e/1FAIpQLSfrBXtiL8pS8L8icomrsL9n7h5NR5JnTNGzMIAaxqn004nHZQ/viewform

The official webpage is https://build-a-binder.github.io/ which has a rough agenda.

It needs a page for the Berlin event which should be more or less a copy of the Birmingham or Lausanne pages. I am preparing for JupyterCon and then three weeks of holiday so

[2018-09-15 08:49] betatim commented on #4
@tomtom-e did you advertise the sign up?

I just checked the number of participants and there are only 4 so far :-/

Unless there is some hidden large number of potential signups I think we should reschedule.

[2018-09-16 16:14] tomtom-e commented on #4
Hi Tim,

unfortunately we have no sign ups on our side.
Our students seem to not yet be in the state that they hold lectures / give workshops that they could support with binder.

I am fine to schedule the event.
Please keep me tuned.

Best

Thomas
---------------------------------------------------------------
Thomas Ekert
Program-Manager Software Engineering
CODE University of Applied Sciences

[2018-09-17 05:11] betatim commented on #4
Let's cancel the event for now.

Of the four signups some are interested in a "remote workshop", so I will post skype details and a chat room for us to hang out.

Sorry about this :(

[2018-09-17 11:28] tomtom-e commented on #4
Hey Tim,

yes, this is a pity.
I will now cancel this event on our side too.

If you like we are still open to offering this on a later date and I’d very much appreciate to have you here at CODE.

Best

Thomas

---------------------------------------------------------------
Thomas Ekert
Program-Manager Software Engineering
CODE University of Applied Sciences

CODE Education GmbH
Lohmühlenstraße 65